body{
    background-image: url('footer-background3eb1.jpg');
    width: 100%;
    height: 100%;
}
img {
    padding-left:250px;
    padding-top:20px;
    width: 1000px;
    height: auto;
    }
.table
    {
        border-collapse: collapse;
        text-align: center;
        padding-left : 350px;
        padding-top : 20px;   
    }
    td, th /* Mettre une bordure sur les td ET les th */
    {
        border: 2px solid black;
    }
form
    {
    padding-left:400px;
    padding-top:100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*text-align: center;*/
    font-size: larger;
    }
.connexion
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*text-align: center;*/
    font-size: larger;
    /* width: 100%;
    height: 100%; */
   padding-left:450px;
    padding-top:70px;
}
#inscription
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*text-align: center;*/
    font-size: larger;
    /* width: 100%;
    height: 100%; */
   padding-left:400px;
    padding-top:70px;
}

